<ul class="social-media-list">
  {%- if site.twitter_username -%}
  <li><a href="https://x.com/{{ site.twitter_username | cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg> <span class="username">{{ site.twitter_username | escape }}</span></a></li>
  {%- endif -%}
  {%- if site.linkedin_url -%}
  <li><a href="{{ site.linkedin_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg> <span class="username">fp-launchpad</span></a></li>
  {%- endif -%}
  {%- if site.youtube_url -%}
  <li><a href="{{ site.youtube_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use></svg> <span class="username">fplaunchpad</span></a></li>
  {%- endif -%}
</ul>
